

body {
  margin: 0;
  padding: 0;
  background-image: url('170138.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure the background covers the entire viewport height */
}

.login-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin:auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  background-color: rgba(255, 255, 255, 0.2); 
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #f674ff;
  text-align:center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 15px;
  
}

.login-container form label {
  font-size: 20px;
  color: #bb19e7;
}

.login-container form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-container form button {
  padding: 10px; 
  font-size: 16px; 
  color: #fff;
  background-color: #007bff;
  border:  solid #007bff;
  border-radius: 20px;
  cursor: pointer;
  width:80px;
  margin-left: 19%;
  text-align:center;
 display:inline-block;
}


.login-container form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red; 
  font-weight: 200;
  font-size: 25px;
}

.success-message {
  color: rgb(133, 228, 133); 
  font-weight: 200;
  font-size: 25px;
}


.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}

.home-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: aqua;
}

.home-container p {
  font-size: 18px;
  color: rgb(144, 144, 227) ;
}


.logout-button {
  background-color: #f44336; /* Red */
  color: rgb(244, 226, 226);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker Red */
}

.register-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin:auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  background-color: rgba(255, 255, 255, 0.2); 
}
.register-container h2{
  text-align: center;

}


.register-form label {
  display: block;
  margin-bottom: 10px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.register-form button {
  padding: 10px; 
  font-size: 16px; 
  color: #fff;
  background-color: #007bff;
  border:  solid #007bff;
  border-radius: 20px;
  cursor: pointer;
  width:80px;
  margin-left: 19%;
  text-align:center;
 display:inline-block;
}

.register-form button:hover {
  background-color: #ecc61d;
}
 */
 .register-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin:auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  background-color: rgba(255, 255, 255, 0.2); 
}

.register-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #e46f6f;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container form div {
  margin-bottom: 15px;
}

.register-container form label {
  font-size: 20px;
  color: #411a1a;
}

.register-container form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.register-container form button {
  padding: 8px 16px; 
  font-size: 16px; 
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width:80px;
  margin:auto;
}

.register-container form button:hover {
  background-color: #0056b3;
}
